@model IEnumerable<najdiPrevoz.Models.Trip>

@{
	ViewBag.Title = "Index";
}

<h2>List of trips: </h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.FromDestination)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToDestination)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TimeHour)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Capacity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FreeSeats)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.FromDestination)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ToDestination)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Time)
	</td>
	<td>
		@{String time = item.TimeHour.ToString() + item.TimeMinutes.ToString();}
		@Html.Display(time)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Capacity)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Description)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.FreeSeats)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Price)
	</td>
	<td>
		@if (item.CanEdit)
		{@Html.ActionLink("Edit", "Edit", new { id = item.Id });
	}

		@Html.ActionLink("Details", "Details", new { id = item.Id })

		@if (item.CanEdit)
		{@Html.ActionLink("Delete", "Delete", new { id = item.Id });
	}

	</td>
</tr>
}

</table>
